h1{
  font-size: 2rem;
  color:white;
  text-align: center;
}

.blocIdentification{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:700px;
  
}


.blocAvatar{
  display: flex;
  flex-direction: row;
}
.avatar{
  padding: 0 10px;
}

.blocAvatar input[type=radio]{
  display: none;
}
.blocAvatar img:hover /* Apparence au survol des liens */
{
  transform:scale(1.25);
  z-index: 10;
  position: relative;
}

.blocAvatar img {
  transition: all 0.3s ease-out;
  filter:grayscale(100%);
}

.imagetoggle{
  border-radius: 5px;
  filter:contrast(100%) !important;
  box-shadow: 0px 5px 46px 11px rgba(247,0,41,0.88);
  position:relative;
  z-index: 10;
}

img{
  width: 150px;
  height: 200px;
}

.valide{
  cursor:pointer;
  padding:10px;
  color:white;
  background-color:#b70000;
  border:inherit;
  border-radius: 0px 5px 5px 0px;
  transition : all 0.3s ease-out;
  font-family: "enchanted_land-webfont";
  font-size:2rem;
  width: 400px;
  margin-top: 10px;
}

form{
  display: flex;
  flex-direction: column;

}
.identite{
  height:50px ;
  width: 400px;
  margin-bottom: 10px;
  padding:5px;
  align-self: center;
}
