<h1> Lobby - "Nom de la partie" </h1>
<main>
    <div class="container-informations-joueurs-lobby">
        <img src="/assets/images/carte-joueur-avatar.png" alt=""/>
        <img class="avatar-joueur" src="/assets/images/avatar1.jpg" alt=""/>
        <span>Player 1</span>
    </div>
    <div class="container-informations-joueurs-lobby">
        <img src="/assets/images/carte-joueur-avatar.png" alt=""/>
        <img class="avatar-joueur" src="/assets/images/avatar1.jpg" alt=""/>
        <span>Player 1</span>
    </div>
    <div class="container-informations-joueurs-lobby">
        <img src="/assets/images/carte-joueur-avatar.png" alt=""/>
        <img class="avatar-joueur" src="/assets/images/avatar1.jpg" alt=""/>
        <span>Player 1</span>
    </div>
    <div class="container-informations-joueurs-lobby">
        <img src="/assets/images/carte-joueur-avatar.png" alt=""/>
        <img class="avatar-joueur" src="/assets/images/avatar1.jpg" alt=""/>
        <span>Player 1</span>
    </div>
</main>
<footer>
    <button class="demarrer-partie">Démarrer la partie</button>
</footer>